<ion-content>

  <ion-slides [options]="option" class="ion-margin-top">
    <ion-slide>
      <ion-card>
        <div class="container">
          <img src="../../assets/slide3.jpg">
          <div class="centrado">
            <p style="color: black; font-size:large; ">El desarrollo y uso de las aplicaciones móviles en la última
              década se han convertido en una parte esencial del diario vivir.</p>
          </div>
        </div>

      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <div class="container">
          <img src="../../assets/slide4.jpg">
          <div class="centrado">
            <p style="color: black; font-size:large; ">Según el Instituto Nacional de Estadística y Censos, en el
              Ecuador se registra un crecimiento del 10% anual para actividades veterinarias.</p>
          </div>
        </div>

      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <div class="container">
          <img src="../../assets/slide7.jpg">
          <div class="centrado">
            <p style="color: black; font-size:large; ">Este proyecto permita tener información concreta sobre las
              diferentes clínicas veterinarias en la Ciudad de Quito.</p>
          </div>
        </div>

      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer no-border>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-button expand="full" color="success" shape="round" [routerLink]="['/login']">Login</ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>